---    
import BlogLayout from '../layouts/BlogLayout.astro';
---
<style>
    .coming {
        color: white;
        text-align: center;;
        margin-top: 40vh;
    }
</style>
<BlogLayout>
    <div class="coming">Coming</div>
</BlogLayout>