---
import BlogPostPreview from "../components/BlogPostPreview.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("./posts/*.md");
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<Layout>
  <body>
    <div class="max-w-xl mx-auto mt-8">
      <article>
        <section>
          {nonDraftPosts.reverse().map((p) => <BlogPostPreview post={p} />)}
        </section>
      </article>
    </div>
  </body>
</Layout>
