---    
import Layout from '../layouts/Layout.astro';
---
<style>
    .coming {
        color: white;
        text-align: center;
        margin-top: 40vh;
    }
</style>
<Layout>
    <div class="coming">Coming</div>
</Layout>