---
import Layout from "../layouts/Layout.astro";

import linkedin from "/linkedin.svg";
import github from "/github.svg";
---

<Layout>
  <div class="container">
    <header>Software Engineer</header>
    <main>
      <a
        href="https://www.linkedin.com/in/benjamin-pickford/"
        target="_blank"
        aria-label="View LinkedIn profile"
      >
        <img class="social" src={linkedin} alt="linkedin" />
      </a>
      <a
        href="https://github.com/bmpickford/"
        target="_blank"
        aria-label="View Github profile"
      >
        <img class="social" src={github} alt="github" />
      </a>
    </main>
  </div>
</Layout>

<style>
  .container {
    margin: 72px auto;
    text-align: center;
  }
  header {
    margin-bottom: 48px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .social {
    height: 48px;
    width: 48px;
    color: black;
    margin: auto 48px;
  }
</style>
