---    
import Layout from '../layouts/Layout.astro';
const showcaseRepos = [
    "cem-plugin-docsify",
    "web-vitals-wc"
];
---
<style>
    .name-wrapper {
        position: absolute;
        top: 50px;
        right: 120px;
    }
    .name {
        color: white;
        font-size: 6em;
        letter-spacing: 16px;
        font-family: monospace;
        text-transform: uppercase;
        font-weight: 600;
    }
    .sub {
        color: white;
        font-family: monospace;
        font-size: 1.4em;
        font-weight: 600;
    }
    .label {
        color: white;
        font-size: 2em;
        font-family: monospace;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }
    .showcase {
        margin-left: 12px;
        text-align: left;
        margin-top: calc(100vh - 250px);
    }
    .showcase img {
        margin-right: 24px;
    }
    .repos { 
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }
    @media (max-width: 480px) {
        .showcase img {
            margin-right: unset;
        }
        .name-wrapper {
            left: 12px;
            right: unset;
        }
        .showcase img {
            width: 350px;
        }
    }
</style>
<Layout>
    <div class="name-wrapper">
        <div class="name">Ben</div>
        <div class="sub">I Like to build software</div>
    </div>
    <div class="showcase">
        <div class="label">Some things I'm working on</div>
        <div class="repos">
            {showcaseRepos.map((item) => (
                <a href={`https://github.com/bmpickford/${item}`} target="__blank">
                    <img src={`https://github-readme-stats.vercel.app/api/pin/?theme=midnight-purple&username=bmpickford&repo=${item}`} alt="github repo card" />
                </a>
            ))}
        </div>
    </div>
</Layout>

