---
import Layout from "../layouts/Layout.astro";

import linkedin from "/linkedin.svg";
import github from "/github.svg";

const socials = [
  {
    name: "linkedin",
    href: "https://www.linkedin.com/in/benjamin-pickford/",
    icon: linkedin,
  },
  {
    name: "github",
    href: "https://github.com/bmpickford/",
    icon: github,
  },
];
---

<Layout>
  <div class="flex mt-16 justify-center gap-6">
    <div class="flex justify-between mt-8 gap-16">
      {
        socials.map(({ href, icon, name }) => (
          <a href={href} target="_blank" aria-label={`View ${name} profile`}>
            <img class="h-12 w-12" src={icon} alt={name} />
          </a>
        ))
      }
    </div>

   
  </div>
</Layout>
