---    
import Layout from '../layouts/Layout.astro';

const showcaseRepos = [
    "cem-plugin-docsify",
    "web-vitals-wc"
];

---
<Layout>
<div class="container">
    <div class="name-wrapper">
        <div class="name">Ben</div>
        <div class="sub">Software Developer</div>
    </div>
    <!-- <div class="showcase">
        <div class="label">Some things I'm working on</div>
        <div class="repos">
            {showcaseRepos.map((item) => (
                <a href={`https://github.com/bmpickford/${item}`} target="__blank">
                    <img src={`https://github-readme-stats.vercel.app/api/pin/?theme=midnight-purple&username=bmpickford&repo=${item}`} alt="github repo card" />
                </a>
            ))}
        </div>
    </div> -->
    <!-- <section class="timeline-container">
        <h2>My Experience</h2>
        <div class="timeline">
            <div class="timeline-item">
                <h3>Revelian</h3>
                <h5>Jan 2020 - Present</h5>
                <div>some content</div>
            </div>
            <div class="timeline-item">
                <h3>Thoughtworks</h3>
                <div>some other content</div>
            </div>
            <div class="timeline-item">
                <h3>Jumbo Interactive</h3>
                <div>some other content</div>
            </div>
        </div>
    </section> -->
    </div>
</Layout>
<style>
    .name-wrapper {
      text-align: right;
      margin-right: 24px;
    }
    .name {
        color: white;
        letter-spacing: 16px;
        font-family: monospace;
        text-transform: uppercase;
        font-weight: 600;
        margin-right: -16px;
        font-size: 6em;
    }
    .sub {
        color: white;
        font-family: monospace;
        font-weight: 600;
        font-size: 2em;
    }
    .label {
        color: white;
        font-family: monospace;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }
    .showcase {
        text-align: right;
        margin-right: 24px;
    }
    .showcase img {
        margin-left: 24px;
    }
    .repos { 
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: monospace;
    }
    .timeline-container {
        margin: 30vh auto;
        width: 80vw;
    }
    .timeline-container > h2 {
        text-align: center;
        width: 100vw;
    }
    .timeline {
        display: flex;
        flex-direction: column;
        color: black;
    }
    .timeline-item {
        height: 300px;
        width: 40%;
        border-radius: 4px;
        margin-bottom: 48px;
        padding: 0 18px;
        background-color: white;
        margin-left: 148px;
    }

    .timeline .timeline-item:nth-child(2n) {
        margin-left: calc(55vw - 200px);
        border-left: 1px solid white;
    }
    @media (max-width: 480px) {
      .showcase img {
          margin-right: unset;
          width: 350px;
      }
      .name-wrapper {
          left: 12px;
          right: unset;
      }
      .repos {
        justify-content: center;
      }
    }
</style>