---    
import BlogLayout from '../layouts/BlogLayout.astro';
---
<style>
    body {
        overflow: hidden;
    }
    .name-wrapper {
        position: absolute;
        top: 50px;
        right: 120px;
    }
    .name {
        color: white;
        font-size: 4em;;
        letter-spacing: 10px;
    }
    .sub {
        color: white;
        font-family: BungeeHairline;
        font-size: 1.4em;
        font-weight: 600;
    }
    .hero {
        width: min-content;
        margin-top: 50vh;
        margin-left: 15vw;
        animation: 4s ease-out 0s 1 slidein;
    }

    @keyframes slidein { 
        0% { transform: translateX(-100%) translateY(200%); }
        100% { transform: translateX(0) translateY(0); }
    }

    @media (max-width: 450px) {
        .hero {
            margin-left: 10vw;
        }
    }

</style>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<BlogLayout>
    <div class="name-wrapper">
        <div class="name">Ben</div>
        <div class="sub">I Like to build software</div>
    </div>
    <div class="hero">
        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_fdrrfiqz.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    </div>
</BlogLayout>

