---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
  <header>
    <h3 class="publish-date">{post.publishDate}</h3>
    <a class="highlight-anchor" href={post.url}>
      <h1 class="title">{post.title}</h1>
    </a>
  </header>
</article>

<style>
  .post-preview {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
</style>
