---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
  <header>
    <h3 class="publish-date">{post.frontmatter.publishDate}</h3>
    <a class="highlight-anchor" href={post.url}>
      <h2 class="preview-title">{post.frontmatter.title}</h2>
    </a>
  </header>
</article>

<style>
  .post-preview {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .publish-date {
    font-weight: 300;
    font-size: 1rem;
  }

  .preview-title {
    font-size: 1.2rem;
    margin-top: 8px;
  }
</style>
