---
export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
  alt: string;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<article class="max-w-2xl m-auto mb-12">
  <header class="mb-12">
    <p class="text-center text-cyan-10">{publishDate}</p>
    <h2 class="text-center text-3xl text-cyan-12 underline">{title}</h2>
  </header>
  <main>
    <div class="prose"><slot /></div>
  </main>
</article>
