---
import linkedin from '../assets/linkedin.svg';
import github from '../assets/github.svg';
---

<style>
    .cards {
        font-family: 'BungeeHairline';
        font-size: 1.2em;
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        width: 20vw;
        margin: 40pt auto;
        justify-content: space-evenly;
    }

    .card {
        color: white;
        padding: 12pt;
        background-color: #403f48;
        max-width: 400pt;
        border-radius: 8pt;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        width: min-content;
        cursor: pointer;
    }

    .card:hover {
        box-shadow: 0 4px 5px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
    }

    .social {
        width: 36px;
        height: 36px;
    }

    @media screen and (max-width: 1000px) {
        .cards {
            width: 90vw;
        }
    }

</style>

<div class="cards">
    <a href="https://www.linkedin.com/in/benjamin-pickford/" target="_blank">
        <div class="card">
            <img class="social" src={linkedin} />
        </div>
    </a>
    <a href="https://github.com/bmpickford/" target="_blank">
        <div class="card">
            <img class="social" src={github} />
        </div>
    </a>
</div>