---
import BaseHead from '../components/BaseHead.astro';
import Sidebar from '../components/Sidebar.astro';

const title = 'Ben Pickford';
const description = 'Personal site for Benjamin Pickford';
const permalink = 'https://benpickford.me/';
---
<html lang="en" class='theme-dark'>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <div class="container">
        <Sidebar />
        <main>
            <slot />
        </main>
    </div>
  </body>
</html>
